body {
    background-color: #000000;
    font-family: Arial, sans-serif;
    margin: 0 auto;
    max-width: 80%;
    padding: 0 20px;
    min-width: 800px;
    color: white;
}

.nav-link {
    text-decoration: none;
    font-size: 1.125rem;
    color: #fff;
    font-weight: bold;
}


.header {
    position: fixed;
    top: 0;
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    display: flex;
    left: 0;
    right: 0;
    justify-content: center;
    align-content: center;
}
#home, #services, #testimonials , #projects, #important, #simpleShop{
    background-color: #222222;
}

#about, #portfolio, #contact, #data, #simpleShopTitle {
    background-color: #444444;
}

#a0, #a2, #a4, #a6, #a8, #a10, #a12, #a14 {
    background-color: #222222;
}


#a1, #a3, #a5, #a7, #a9, #a11, #a13, #a15 {
    background-color: #444444;
}

#contact {
    padding-bottom: 80px;
}

.header a {
    color: #fff;
    text-decoration: none;
    margin: 0 20px;
    display: flex;
    align-items: center;

}

.logo {
    font-size: 1.125rem;
    font-weight: bold;
    display: flex;
    align-items: center;
}

.logo img { /* use margin-right to space from text or max-width:5% */
    min-width: 35px;
    height: auto;
    max-height: 35px;
}


.section {

    padding: 20px;
    padding-top: 80px;
    margin-top: 0;
    cursor: default;
}

#construction {
    padding-top: 30%;
    padding-bottom: 30%;
}

footer {
    bottom: 0;
    position: fixed; /* doesnt work witout this */
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    display: flex;
    left: 0;
    right: 0;
    justify-content: center;
    align-content: center;
}

.footer-content {
    margin: 0 auto;
    max-width: 800px;
}

.text {
    flex: 1;
}

.photo-text-section {
    display: flex;
    align-items: center;
    padding: 20px;
}

.photo {
    flex: 1;
    text-align: center; /* Center the image horizontally */
    display: flex;
    justify-content: center; /* Center the image vertically */
    margin: 5%;
}

img {
    max-width: 100%; /* To ensure the image doesn't exceed its container */
    max-height: 100%; /* To ensure the image doesn't exceed its container */
    object-fit: contain;
}

a {
    color: #fff;
    text-decoration: none;
}

.contact-info {
    display: flex;
    margin-right: 5vw;
    margin-left: 5vw;
}

.contact-info div {
    flex: 1;
    text-align: center;
}

.download-button {
    background-color: #555; /* A neutral, dark background */
    color: white; /* White text */
    border: none; /* No border */
    padding: 10px 20px; /* Top and bottom padding 10px, left and right padding 20px */
    text-align: center; /* Centered text */
    text-decoration: none; /* No underline */
    display: inline-block; /* Allows setting dimensions */
    font-size: 16px; /* Reasonable default font size */
    margin: 4px 2px; /* Some margin to separate from other elements */
    cursor: pointer; /* Cursor indicates it's clickable */
    border-radius: 5px; /* Slightly rounded corners */
    transition: background-color 0.3s ease; /* Smooth background color transition for hover */
}

.download-button:hover {
    background-color: #666; /* Darken the button slightly when hovered */
}

.language-selector select {
    background-color: #555; /* Dark background to match the theme */
    color: white; /* White text color for contrast */
    padding: 10px; /* Padding for better touch area and aesthetics */
    border: none; /* No border for a cleaner look */
    border-radius: 5px; /* Slightly rounded corners to match the button style */
    font-family: Arial, sans-serif; /* Consistent font family with the rest of the site */
    font-size: 1rem; /* Appropriate font size for readability */
    cursor: pointer; /* Indicates it's clickable */
    outline: none; /* Removes the default focus outline to customize later if needed */
    appearance: none; /* Removes the default system appearance */
    -webkit-appearance: none; /* Specifically for iOS and Safari */
    -moz-appearance: none; /* Specifically for Firefox */
    margin: 4px 2px; /* Some margin to keep it aligned with other elements */
    width: 150px; /* Adjusted width for a wider appearance */
    transition: background-color 0.3s ease; /* Smooth transition for hover effects */
}

.language-selector {
    position: relative;
    display: inline-block; /* Ensures the custom arrow aligns correctly */
}

.language-selector::after {
    content: '\25BC';
    color: white;
    position: absolute;
    right: 15px; /* Adjust if necessary to align the arrow inside the select */
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none; /* Makes sure clicks pass through to the select element */
}

.language-selector select:hover {
    background-color: #666; /* Slightly darker on hover */
}






.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

/* The actual popup (appears on top) */
.popup .popuptext {
    visibility: hidden;
    width: 160px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
}

/* Popup arrow */
.popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}