body {
    background-color: #000000;
    font-family: Arial, sans-serif;
    margin: 0 auto;
    max-width: 80%;
    padding: 0 20px;
    min-width: 800px;
    color: white;
}

.nav-link {
    text-decoration: none;
    font-size: 1.125rem;
    color: #fff;
    font-weight: bold;
}


.header {
    position: fixed;
    top: 0;
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    display: flex;
    left: 0;
    right: 0;
    justify-content: center;
    align-content: center;
}
#home, #services, #testimonials {
    background-color: #222222;
}

#about, #portfolio, #contact {
    background-color: #444444;
}

#contact {
    padding-bottom: 80px;
}

.header a {
    color: #fff;
    text-decoration: none;
    margin: 0 20px;
    display: flex;
    align-items: center;

}

.logo {
    font-size: 1.125rem;
    font-weight: bold;
    display: flex;
    align-items: center;
}

.logo img { /* use margin-right to space from text or max-width:5% */
    min-width: 35px;
    height: auto;
    max-height: 35px;
}


.section {
    padding: 20px;
    padding-top: 80px;
    margin-top: 0;
    cursor: default;
}

footer {
    bottom: 0;
    position: fixed; /* doesnt work witout this */
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    display: flex;
    left: 0;
    right: 0;
    justify-content: center;
    align-content: center;
}

.footer-content {
    margin: 0 auto;
    max-width: 800px;
}

.text {
    flex: 1;
}

.photo-text-section {
    display: flex;
    align-items: center;
    padding: 20px;
}

.photo {
    flex: 1;
    text-align: center; /* Center the image horizontally */
    display: flex;
    justify-content: center; /* Center the image vertically */
}

img {
    max-width: 100%; /* To ensure the image doesn't exceed its container */
    max-height: 100%; /* To ensure the image doesn't exceed its container */
    object-fit: contain;
}

a {
    color: #fff;
    text-decoration: none;
}

.contact-info {
    display: flex;
    margin-right: 5vw;
    margin-left: 5vw;
}

.contact-info div {
    flex: 1;
    text-align: center;
}






.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

/* The actual popup (appears on top) */
.popup .popuptext {
    visibility: hidden;
    width: 160px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
}

/* Popup arrow */
.popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}